html {
    background-color: black;
	height: 100vh;
    margin: 0;
}

body {
	height: 100vh;
    background: white;
    font-family: sans-serif;
	margin: 0;
}


a img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

button {
    height: 30px;
    width: 100px;
    margin: 8px auto;
}

img.preload {
    display: none;
}

#room {
	height: 770px;
	width: 1500px;
	background-color: whitesmoke;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#card-table {
    background-color: lightgray;
    height: 400px;
    width: 600px;
    border: solid 40px black;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#color-popup{
    background-color: lightgray;
    height: 400px;
    width: 600px;
    border: solid 40px black;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deal {
    position: absolute;
    left: 310px;
    top: 170px;
}

.hidden {
    display: none;
}
#red {
    background: #D72600 ;
    height: 50%;
    width: 50%;
    position: absolute;

    top: 0%;
    left: 50%;
    transform: translate(-100%, 0%);

    border-top-left-radius: 20px;

}
#blue{
    background: #0956BF;

    height: 50%;
    width: 50%;
    position: absolute;

    top: 0%;
    left: 50%;
    transform: translate(0%, 0%);

    border-top-right-radius: 20px;

}
#green{
    background: #379711;
    height: 50%;
    width: 50%;
    position: absolute;

    top: 0%;
    left: 50%;
    transform: translate(0%, 100%);
    border-bottom-right-radius: 20px;

}
#yellow{
    background: #ECD407;
    height: 50%;
    width: 50%;
    position: absolute;

    top: 0%;
    left: 50%;
    transform: translate(-100%, 100%);
    border-bottom-left-radius: 20px;

}




